<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.todream.uni_translate.uni_translate.mapper.CacheMapper">
    <resultMap id="BaseResultMap" type="net.todream.uni_translate.uni_translate.entity.Cache">
        <id column="cache_id" property="cacheId" />
        <result column="from" property="from" />
        <result column="`to`" property="to" />
        <result column="text" property="text" />
        <result column="platform" property="platform" />
        <result column="result" property="result" typeHandler="net.todream.uni_translate.uni_translate.config.ObjectTypeHandler"/>
        <result column="check_code" property="checkCode" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <sql id="Base_Column_List">
        cache_id, from, to, text, platform, result, create_time, update_time
    </sql>

    <!-- insert -->
    <insert id="insert" parameterType="net.todream.uni_translate.uni_translate.entity.Cache">
        INSERT INTO cache (
            `from`, `to`, text, platform, result, check_code, create_time, update_time
        )
        VALUES (
            #{from},
            #{to},
            #{text},
            #{platform},
            #{result, typeHandler=net.todream.uni_translate.uni_translate.config.ObjectTypeHandler},
            #{checkCode},
            #{createTime},
            #{updateTime}
        )
    </insert>

    <select id="getCacheContent">
        SELECT result FROM cache WHERE check_code = #{checkCode} LIMIT 1
    </select>
</mapper>